@import '../../node_modules/bootstrap/scss/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #47443e, #55514a);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  gap: 0.5rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  background: linear-gradient(45deg, #e9b122, #c4951d);
  border-radius: 1rem;
  border: none;
  outline: none;
  color: linear-gradient(45deg, #47443e, #55514a);
  transition: all 1s ease-out;
}

.calculator-grid > button:hover {
  background: linear-gradient(45deg, #c4951d, #e9b122);
  color: linear-gradient(45deg, #47443e, #55514a);
}

.span-two {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  border: 0.1rem solid goldenrod;
  background-color: rgb(29, 29, 29);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.62rem;
  word-wrap: break-word;
  word-break: break-all;
}

.previous {
  color: rgb(240, 214, 148);
  font-size: 1.5rem;
}

.current {
  color: rgb(255, 183, 0);
  font-size: 2.5rem;
}
